<article class="text--justified">
  <header>
    <h2>Users</h2>
  </header>

  <div>
    <a [routerLink]="['/users', id, 'edit']">
      New user
    </a>
  </div>

  <table *ngIf="users">
    <thead>
      <tr>
        <th>Username</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users.users">
        <td>
          <a [routerLink]="['/users', user.id]">
            {{ user.username }}
          </a>
        </td>
        <td>
          <button (click)="onDelete(user)">Delete</button>
        </td>
        <td>
          <a [routerLink]="['/users', user.id, 'edit']">
            Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>
